@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

.main-navbar{
    background-color: #bedada;
}

.brand-navbar{
    font-family: 'McLaren', cursive;
    font-size: 25px;
}

.logout-btn{
    margin-left: 2%;
    margin-right: 3%;
    font-size: 30px;
    color: rgb(22, 43, 62);
    cursor:pointer;
}

.search-btn{
    border-color: black !important;
    color: black !important;
}

.welcome-msg{
    font-family: 'McLaren', cursive;
    margin-top: 2%;
    font-size: 25px;
    text-align: center;
    color:#5b8686;
    font-weight: bold;
}
.groups-div{
    margin-top: 7%;
}

.group-header{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 60% auto;
    border-bottom: 3px solid rgb(190, 218, 218,0.6);
}
.my-groups-text{
    font-family: 'McLaren', cursive;
    font-size: 20px;
    color: rgb(113, 113, 114);
}
.add-icon{
    margin-left: auto !important;
    background-color:#5b8686 !important;
    cursor: pointer;
    width: 60%;
    height: 38px;
    margin-bottom: 2% !important;
    font-weight: bold !important;
}
.img-div{
    margin-top: 2%;
    text-align: center;
}

.no-groups-img{
    width: 25%;
}
.textField-divs{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 4%;

}
.textField-div-mem{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 2%;
    
}

.max-limit-text{
    font-size: 10px;
    margin-top: 1%;
    color: rgb(255, 0, 0,0.7);
}
.userGroups{
    margin-top: 3%;
}
.card-div{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #a8cece;
    margin-top: 1%;
    height: 10vh;
    cursor: pointer;
    box-shadow: 3px 3px 5px #a8cece;
}
.card-div:hover {
    background-color: #d5e2e2;
    color: white !important;
    box-shadow: none;
}

.card-content{
    display: grid;
    grid-template-columns: 40% auto;
}

.group-icon{
    font-size: 30px !important;
    margin-left: auto;
    margin-top: 1vh;
    color:#5b8686;
    margin-right: 2px;

}
.group-title{
    font-size: 16px;
    font-family: 'McLaren', cursive;
    text-transform: uppercase;
    color: rgb(113, 113, 114);
    padding-top: 3vh;

}

